---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="description" content="Astro description"/>
		<meta name="viewport" content="width=device-width"/>
		<meta name="generator" content={Astro.generator}/>
		<title>{title}</title>
	</head>
	<body>
		<slot/>
	</body>
	<footer class="flex justify-center items-center w-full h-16 text-white fixed bottom-0 animated-gradient">
		<a href="https://github.com/ThisIsLuckyluck">Site made by <span class="font-bold">ThisIsLuckyluck</span></a>
	  </footer>
	  
</html>
<style is:global>
	:root {
	}
	@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
	background: linear-gradient(270deg, #21077f, #410766, #490b83, #3f0e8d);

  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
}


</style>
